@charset "u%f-8";
#body{
    background-image: url(../imagenes/fondo.jpg);
}
#principal_calendarioGE {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#cabecera_calendario{
    width:70%;
    margin-right: auto;
    margin-left: auto;
}
#contenido_usuarios {
	background-color: #FFF;
        margin-left: 15%;
	float: left;
	width: 70%;
}
#menu_grupoEmpresa {
	width: 21.5%;
        background-color: #000;
        float: left;
}
#menu_grupoEmpresa img:hover{
    border: solid 2px #6B2C37;
}
#noticias_grupoEmpresa {
   width: 75%;
   float: left;	
}
#calendario_seguimientoGE{
        font-family: Corbel;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
	float: left;
	width: 675px;
    
}
#pie_calendario{
    width: 70%;
    height: 80px;
    background-image: url(../imagenes/pie_fondo.jpg);
    float: left;
    margin-top: 0.3%;
    margin-left: 15%;
    text-align: center;
    color: #FFF;
}
