@charset "u%f-8";
#body{
    background-image: url(../imagenes/fondo.jpg);
}
#principal_subir_archivo {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
#cabecera_subir_archivo{
    width:70%;
    margin-right: auto;
    margin-left: auto;
}
#contenido_usuarios {
	background-color: #FFF;
        margin-left: 15%;
	float: left;
	width: 70%;
}
#menu_seguimiento {
	width:21.5%;
        background-color: #000;
	float: left;
}
#menu_seguimiento img:hover{
    border: solid 2px #6B2C37;
}
#subirArchivo {
	width: 75%;
        float: left;
}
 #pie_subir_archivo{
    width: 70%;
    height: 80px;
    background-image: url(../imagenes/pie_fondo.jpg);
    float: left;
    margin-top: 0.3%;
    margin-left: 15%;
    text-align: center;
    color: #FFF;
}
#subirArchivo #fieldsetSubirArchivo{
    margin:1%;
    margin-left:5%;
    margin-top: 2%; 
    padding-left: 10%;
    padding-right: 10%;
    width: 90%;
    
}
#subirArchivo #tabla_formulario_subir_archivos{
    width: 10%;
    margin-left: 5%;
    padding-left: 2%;
}
#subirArchivo #tabla_formulario_subir_archivos #descripcion_subida{
    resize:none;
}

